/*
Shrikhand pour logo et titres
Roboto pour texte
*/
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**********LOADING**********/
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    background-color: grey;
    @include flexCenter;
    animation: disappear 2s 2s linear forwards;

    i{
        letter-spacing: 25px;
        font-size: 20px;
    }

    .one{
        color: $color-primary;
        animation: jump 0.8s 0s linear infinite;
    }

    .two{
        color: $color-secondary;
        animation: jump 0.8s 0.3s linear infinite;
    }

    .three{
        color: $color-tertiary;
        animation: jump 0.8s 0.6s linear infinite;
    }
}

@keyframes disappear {
    0%{
        opacity: 0.9;
    }
    25%{
        opacity: 0.7;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes jump {
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(0px,-30px);
    }
    50%{
        transform: translate(0px,-50px);
    }
    75%{
        transform: translate(0px,-30px);
    }
    100%{
        transform: translate(0px,0px);
    }
}