/*
Shrikhand pour logo et titres
Roboto pour texte
*/
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*****************************ACCUEIL*******************************/
/*********************************************************************/

/**********LOADING**********/
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
    @include flexCenter;
    animation: disappear 2s 2s linear forwards;

    i{
        letter-spacing: 25px;
        font-size: 20px;
    }

    .one{
        color: $color-primary;
        animation: jump 0.8s 0s linear infinite;
    }

    .two{
        color: $color-secondary;
        animation: jump 0.8s 0.3s linear infinite;
    }

    .three{
        color: $color-tertiary;
        animation: jump 0.8s 0.6s linear infinite;
    }
}

@keyframes disappear {
    0%{
        opacity: 0.9;
    }
    25%{
        opacity: 0.7;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes jump {
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(0px,-30px);
    }
    50%{
        transform: translate(0px,-50px);
    }
    75%{
        transform: translate(0px,-30px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
/********************************************************/
/********************************************************/

/**********SECTION 1**********/
#section1{
    width: 100%;
    height: 350px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map{
    width: 100%;
    height: 50px;
    background-color:#e9e9e9 ;
    box-shadow: inset 1px 5px 4px -5px grey;
    @include flexCenter;
    &__content{
        width: 210px;
        height: 40px;
        @include flexCenter;
        position: relative;
        i{
            position: absolute;
            left: 0px;
            font-size: 18px;
            top: 10px;
        }
    }
    &__description{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: rgb(66, 66, 66);
    }
}


.book{
    width: 100%;
    height: 80%;
    @include flexCenter;
    flex-direction: column;
    justify-content: space-around;
    
    &__content{
        @include flexCenter;
        flex-direction: column;
        height: 140px;
        justify-content: space-around;
    }

    &__title{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        width: 80%;
    }

    &__description{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: rgb(66, 66, 66);
        font-size: 20px;
        width: 95%;
    }

    &__button{
        background: linear-gradient($color-secondary, $color-primary);
        height: 60px;
        width: 250px;
        border-radius: 50px;
        @include flexCenter;
        box-shadow: $button-shadow;
        cursor: pointer;
        margin-bottom: 30px;

        &__description{
            color: white;
            font-family: 'roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
        }

        &:hover{
            filter: brightness(110%);
            box-shadow: 0px 8px 12px 1px rgb(165, 165, 165);
        }
    }
}
/********************************************************/
/********************************************************/

/**********SECTION 2**********/
#section2{
    width: 100%;
    height: 520px;
    @include flexCenter;
}

.steps{
    background-color: white;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 800;
    }

    &__sequences{
        @include flexCenter;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 380px;
    }

    &__sequence{
        height: 80px;
        background-color: #f6f6f6;
        width: 90%;
        border-radius: 20px;
        box-shadow: $button-shadow;
        position: relative;
        cursor: pointer;
        @include flexCenter;

        &:hover{
            background-color: #9256dc1e;
            box-shadow: 0px 8px 12px 1px rgb(165, 165, 165);

            i{
                color: $color-primary;
            }
        }
    }

    &__number{
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: white;
        font-size: 16px;
        font-family: 'roboto', sans-serif;
        position: absolute;
        left: -10px;
        @include flexCenter;
    }

    &__icon{
        position: absolute;
        left: 50px;
        font-size: 25px;
        color: rgb(128, 127, 127);;
    }

    &__description{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 460px){
    .steps__description{
        font-size: 16px;
        position: absolute;
        right: 20px;
    }

    .steps__icon{
        left: 30px;
    }
}

@media screen and (min-width: 992px){
    #section2{
        height: 250px;
    }

    .steps__sequences{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 150px;
    }

    .steps__description{
        font-size: 16px;
        position: absolute;
        right: 20px;
    }

    .steps__icon{
        left: 30px;
    }

    .steps__sequence{
        width: 30%;
    }
}

@media screen and (min-width: 1100px){
    .steps__icon{
        left: 50px;
    }

    .steps__description{
        font-size: 18px;
    }
}

@media screen and (min-width: 1300px){
    .steps__description{
        position: initial;
    }
}
/*******************************************************************/
/*******************************************************************/

/**********SECTION 3**********/
#section3{
    width: 100%;
    background-color: #f6f6f6;
    height: 1500px;
    @include flexCenter;
}

.container{
    width: 90%;
    height: 1400px;
    display: flex;
    flex-direction: column;

    &__title{
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 30px;
    }

    &__cards{
        display: flex;
        flex-direction: column;
        height: 1300px;
        justify-content: space-around;
    }

    &__card{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: $button-shadow;

        &:hover{
            transform: scale(1.02);
            box-shadow: 0px 8px 12px 1px rgb(165, 165, 165);
        }
    }

    &__image{
        width: 100%;
        height: 210px;
        position: relative;
    }

    &__image img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__content{
        width: 100%;
        height: 90px;
        position: relative;
    }

    &__title2{
        position: absolute;
        left: 20px;
        top: 20px;
        color: black;
        font-family: 'roboto',sans-serif;
        font-size: 22px;
    }

    &__location{
        position: absolute;
        left: 20px;
        top: 50px;
        color: black;
        font-family: 'roboto',sans-serif;
        font-size: 20px;
    }

    &__hearts{
        @include flexCenter;
        position: absolute;
        right: 20px;
        top: 30px;

        .heart{
            width: 30px;
        }

        .heart-full{
            fill: white;
            stroke-width: 30px;
            stroke: black;
            position: absolute;
        }

        .heart-empty{
            stroke: none;
            fill: url(#text-fill);
            opacity: 0;
            z-index: 3;
            width: 35px;
            transition: opacity 0.1s;

            &:hover{
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: 1100px){
    #section3{
        height: 850px;
    }

    .container{
        height: 780px;
        justify-content: space-between;
    }

    .container__cards{
        flex-direction: row;
        flex-wrap: wrap;
        height: 700px;
    }

    .container__card{
        width: 45%;
    }
}

/*Pastille nouveau deux restaurants*/
.nouveau{
    position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 2px;
    @include flexCenter;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    color: rgb(39, 155, 39);
    background-color: $color-tertiary;
    top: 15px;
    right: 10px;
}

/**************************PALETTE DU GOUT***************************/
/********************************************************************/

/**********SECTION 1**********/
.image__resto{
    width: 100%;
    height: 50vh;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#section-presentationPlats{
    width: 100%;
    height: 100%;
    @include flexCenter;
}

.container__plats{
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    background-color: #f6f6f6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;

    &__head{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        height: 50px;
        margin-bottom: 20px;
    }

    &__title{
        font-family: 'shrikhand', sans-serif;
        font-size: 35px;
    }

    &__hearts2{
        @include flexCenter;
        position: absolute;
        right: 20px;
        top: 5px;

        .heart{
            width: 30px;
        }

        .heart-full{
            fill: white;
            stroke-width: 30px;
            stroke: black;
            position: absolute;
        }

        .heart-empty{
            stroke: none;
            fill: url(#text-fill);
            opacity: 0;
            z-index: 3;
            width: 35px;
            transition: opacity 0.1s;

            &:hover{
                opacity: 1;
            }
        }
    }

    &__foods{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 1200px;
    }

    &__card{
        height: auto;
        @include flexCenterColumn;
        justify-content: flex-start;
    }

    &__family{
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        position: relative;
        margin-bottom: 20px;

        &::after{
            content: "";
            width: 50px;
            height: 4px;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }

    &__choices{
        max-height: 400px;
        @include flexCenterColumn;
        justify-content: flex-start;
        
    }

    &__choice{
        height: 80px;
        width: 99%;
        background-color: white;
        border-radius: 20px;
        box-shadow: $button-shadow;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;

        &:hover .validation{
            margin-right: 0;
        }

        &:hover i{
            animation: spin 0.5s 0.25s linear;
        }
    }

    &__dish{
        font-family: 'roboto', sans-serif;
        height: 50px;
        margin-left: 10px;
        white-space: nowrap;
        overflow: hidden;
    }

    &__name{
        font-size: 22px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__description{
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.validation{
    height: 100%;
    width: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-right: -75px;
    transition: margin-right 0.5s;

    &__price{
        font-weight: bold;
        width: 50%;
        font-family: 'roboto', sans-serif;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 10px;
    }
    
    &__icon{
        width: 75px;
        text-align: center;
        padding-top: 30px;
        color: white;
        font-size: 25px;
        background-color: $color-tertiary;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $color-tertiary;
    }
}

.button__order{
    @include flexCenter;
}


/**********ANIMATION ICONE**********/

@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg)
    }
}


/***********BOUCLE D'APPARITION****************/
@for $i from 1 through 3{
    .container__plats__choice:nth-child(#{$i}){
        animation: appear 0.8s $i * 0.2s linear both;
    }
}

@keyframes appear {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    75%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


/**********MEDIA 430 PX**********/
@media screen and (max-width: 430px){
    .container__plats__title{
        font-size: 23px;
    }

    .container__plats__dish{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container__plats__name{
        font-size: 16px;
    }

    .container__plats__description{
        font-size: 14px;
    }
}

/**********MEDIA 800 PX**********/
@media screen and (min-width: 800px){
    .container__plats{
        margin-top: -10px;
    }
}

/**********MEDIA 1100 PX**********/
@media screen and (min-width: 1100px){
    .container__plats{
        width: 1100px;
        height: 600px;

        &__foods{
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__card{
            width: 33%;
        }

        &__choices{
            width: 100%;
        }

        &__dish{
            width: 270px;
        }

        &__name{
            font-size: 18px;
        }

        &__description{
            font-size: 14px;
        }
    }

    .validation{
        width: 125px;
    }

    .validation__price{
        width: 50px;
    }

    .button__order{
        margin-left: 38%;
    }
}