/*
Shrikhand pour logo et titres
Roboto pour texte
*/
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/**********LOADING**********/
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
    @include flexCenter;
    animation: disappear 0s 0s linear forwards;

    i{
        letter-spacing: 25px;
        font-size: 20px;
    }

    .one{
        color: $color-primary;
        animation: jump 0.8s 0s linear infinite;
    }

    .two{
        color: $color-secondary;
        animation: jump 0.8s 0.3s linear infinite;
    }

    .three{
        color: $color-tertiary;
        animation: jump 0.8s 0.6s linear infinite;
    }
}

@keyframes disappear {
    0%{
        opacity: 0.9;
    }
    25%{
        opacity: 0.7;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes jump {
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(0px,-30px);
    }
    50%{
        transform: translate(0px,-50px);
    }
    75%{
        transform: translate(0px,-30px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
/********************************************************/
/********************************************************/

/**********SECTION 1**********/
#section1{
    width: 100%;
    height: 350px;
    background-color: #f6f6f6;
    @include flexCenter;
}

.book{
    width: 90%;
    height: 80%;
    @include flexCenter;
    flex-direction: column;
    justify-content: space-around;
    
    &__content{
        @include flexCenter;
        flex-direction: column;
        height: 140px;
        justify-content: space-around;
    }

    &__title{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        width: 80%;
    }

    &__description{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: rgb(66, 66, 66);
        font-size: 20px;
    }

    &__button{
        background: linear-gradient($color-secondary, $color-primary);
        height: 60px;
        width: 250px;
        border-radius: 50px;
        @include flexCenter;
        box-shadow: $button-shadow;
        cursor: pointer;

        &__description{
            color: white;
            font-family: 'roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
        }

        &:hover{
            filter: brightness(110%);
            box-shadow: 0px 8px 12px 1px rgb(165, 165, 165);
        }
    }
}
/********************************************************/
/********************************************************/

/**********SECTION 2**********/
#section2{
    width: 100%;
    height: 520px;
    @include flexCenter;
}

.steps{
    background-color: white;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 800;
    }

    &__sequences{
        @include flexCenter;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 380px;
    }

    &__sequence{
        height: 80px;
        background-color: #f6f6f6;
        width: 90%;
        border-radius: 20px;
        box-shadow: $button-shadow;
        position: relative;
        cursor: pointer;
        @include flexCenter;

        &:hover{
            background-color: #9256dc1e;
            box-shadow: 0px 8px 12px 1px rgb(165, 165, 165);

            i{
                color: $color-primary;
            }
        }
    }

    &__number{
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: white;
        font-size: 16px;
        font-family: 'roboto', sans-serif;
        position: absolute;
        left: -10px;
        @include flexCenter;
    }

    &__icon{
        position: absolute;
        left: 50px;
        font-size: 25px;
        color: rgb(128, 127, 127);;
    }

    &__description{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 460px){
    .steps__description{
        font-size: 16px;
        position: absolute;
        right: 20px;
    }

    .steps__icon{
        left: 30px;
    }
}

@media screen and (min-width: 992px){
    #section2{
        height: 250px;
    }

    .steps__sequences{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 150px;
    }

    .steps__description{
        font-size: 16px;
        position: absolute;
        right: 20px;
    }

    .steps__icon{
        left: 30px;
    }

    .steps__sequence{
        width: 30%;
    }
}

@media screen and (min-width: 1100px){
    .steps__icon{
        left: 50px;
    }

    .steps__description{
        font-size: 18px;
    }
}

@media screen and (min-width: 1300px){
    .steps__description{
        position: initial;
    }
}
/*******************************************************************/
/*******************************************************************/

/**********SECTION 3**********/
#section3{
    width: 100%;
    background-color: #f6f6f6;
    height: 1500px;
    @include flexCenter;
}

.container{
    width: 90%;
    height: 1400px;
    display: flex;
    flex-direction: column;

    &__title{
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 30px;
    }

    &__cards{
        display: flex;
        flex-direction: column;
        height: 1300px;
        justify-content: space-around;
    }

    &__card{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: $button-shadow;

        &:hover{
            transform: scale(1.02);
            box-shadow: 0px 8px 12px 1px rgb(165, 165, 165);
        }
    }

    &__image{
        width: 100%;
        height: 210px;
        position: relative;
    }

    &__image img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__content{
        width: 100%;
        height: 90px;
        position: relative;
    }

    &__title2{
        position: absolute;
        left: 20px;
        top: 20px;
        color: black;
        font-family: 'roboto',sans-serif;
        font-size: 22px;
    }

    &__location{
        position: absolute;
        left: 20px;
        top: 50px;
        color: black;
        font-family: 'roboto',sans-serif;
        font-size: 20px;
    }

    &__hearts{
        @include flexCenter;
        position: absolute;
        right: 20px;
        top: 30px;

        .heart{
            width: 30px;
        }

        .heart-full{
            fill: white;
            stroke-width: 30px;
            stroke: black;
            position: absolute;
        }

        .heart-empty{
            stroke: none;
            fill: url(#text-fill);
            opacity: 0;
            z-index: 3;
            width: 35px;
            transition: opacity 0.1s;

            &:hover{
                opacity: 1;
            }
        }
    }
}

/*Pastille nouveau deux restaurants*/
.nouveau{
    position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 2px;
    @include flexCenter;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    color: rgb(39, 155, 39);
    background-color: $color-tertiary;
    top: 15px;
    right: 10px;
}


svg{
    width: 20px;
}