@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "./Pages/_variables.scss";
@import "./Pages/_mixins.scss";
@import "./Layout/_header.scss";
@import "./Components/_buttons.scss";
@import "./Layout/_container.scss";
@import "./Base/base";