@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
header {
  width: 100%;
  height: 120px;
}

.logo {
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0 1px 5px 1px grey;
          box-shadow: 0 1px 5px 1px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img a {
  text-decoration: none;
  color: black;
  font-family: 'Shrikhand', sans-serif;
  font-size: 40px;
}

.map {
  width: 100%;
  height: 50px;
  background-color: #e9e9e9;
  -webkit-box-shadow: inset 1px 5px 4px -5px grey;
          box-shadow: inset 1px 5px 4px -5px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__content {
  width: 210px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.map__content i {
  position: absolute;
  left: 0px;
  font-size: 18px;
  top: 10px;
}

.map__description {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #424242;
}

/*
Shrikhand pour logo et titres
Roboto pour texte
*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/**********LOADING**********/
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: disappear 0s 0s linear forwards;
          animation: disappear 0s 0s linear forwards;
}

.loading i {
  letter-spacing: 25px;
  font-size: 20px;
}

.loading .one {
  color: #9356DC;
  -webkit-animation: jump 0.8s 0s linear infinite;
          animation: jump 0.8s 0s linear infinite;
}

.loading .two {
  color: #FF79DA;
  -webkit-animation: jump 0.8s 0.3s linear infinite;
          animation: jump 0.8s 0.3s linear infinite;
}

.loading .three {
  color: #99E2D0;
  -webkit-animation: jump 0.8s 0.6s linear infinite;
          animation: jump 0.8s 0.6s linear infinite;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes disappear {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
  }
  50% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  75% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
  }
  50% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  75% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/********************************************************/
/********************************************************/
/**********SECTION 1**********/
#section1 {
  width: 100%;
  height: 350px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book {
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.book__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.book__title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: 80%;
}

.book__description {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #424242;
  font-size: 20px;
}

.book__button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  height: 60px;
  width: 250px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 8px 12px 1px #cccccc;
          box-shadow: 0px 8px 12px 1px #cccccc;
  cursor: pointer;
}

.book__button__description {
  color: white;
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.book__button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-box-shadow: 0px 8px 12px 1px #a5a5a5;
          box-shadow: 0px 8px 12px 1px #a5a5a5;
}

/********************************************************/
/********************************************************/
/**********SECTION 2**********/
#section2 {
  width: 100%;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps {
  background-color: white;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.steps__title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.steps__sequences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 380px;
}

.steps__sequence {
  height: 80px;
  background-color: #f6f6f6;
  width: 420px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 12px 1px #cccccc;
          box-shadow: 0px 8px 12px 1px #cccccc;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__sequence:hover {
  background-color: #9256dc1e;
  -webkit-box-shadow: 0px 8px 12px 1px #a5a5a5;
          box-shadow: 0px 8px 12px 1px #a5a5a5;
}

.steps__sequence:hover i {
  color: #9356DC;
}

.steps__number {
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-family: 'roboto', sans-serif;
  position: absolute;
  left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__icon {
  position: absolute;
  left: 50px;
  font-size: 25px;
  color: #807f7f;
}

.steps__description {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

/*******************************************************************/
/*******************************************************************/
/**********SECTION 3**********/
#section3 {
  width: 100%;
  background-color: #f6f6f6;
  height: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 90%;
  height: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container__card {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 12px 1px #cccccc;
          box-shadow: 0px 8px 12px 1px #cccccc;
}

.container__card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 8px 12px 1px #a5a5a5;
          box-shadow: 0px 8px 12px 1px #a5a5a5;
}

.container__image {
  width: 100%;
  height: 210px;
  position: relative;
}

.container__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container__content {
  width: 100%;
  height: 90px;
  position: relative;
}

.container__title2 {
  position: absolute;
  left: 20px;
  top: 20px;
  color: black;
  font-family: 'roboto',sans-serif;
  font-size: 22px;
}

.container__location {
  position: absolute;
  left: 20px;
  top: 50px;
  color: black;
  font-family: 'roboto',sans-serif;
  font-size: 20px;
}

.container__hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 20px;
  top: 30px;
}

.container__hearts .heart {
  width: 30px;
}

.container__hearts .heart-full {
  fill: white;
  stroke-width: 30px;
  stroke: black;
  position: absolute;
}

.container__hearts .heart-empty {
  stroke: none;
  fill: url(#text-fill);
  opacity: 0;
  z-index: 3;
  width: 35px;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.container__hearts .heart-empty:hover {
  opacity: 1;
}

/*Pastille nouveau deux restaurants*/
.nouveau {
  position: absolute;
  width: 90px;
  height: 30px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'roboto', sans-serif;
  font-weight: 700;
  color: #279b27;
  background-color: #99E2D0;
  top: 15px;
  right: 10px;
}

svg {
  width: 20px;
}
/*# sourceMappingURL=style.css.map */