header{
    width: 100%;
    height: 120px;
}

.logo{
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 5px 1px grey;
    @include flexCenter;
    &__img{
        width: 50%;
        @include flexCenter;
        a{
            text-decoration: none;
            color: black;
            font-family: 'Shrikhand', sans-serif;
            font-size: 40px;
        }
    }
}

.map{
    width: 100%;
    height: 50px;
    background-color:#e9e9e9 ;
    box-shadow: inset 1px 5px 4px -5px grey;
    @include flexCenter;
    &__content{
        width: 210px;
        height: 40px;
        @include flexCenter;
        position: relative;
        i{
            position: absolute;
            left: 0px;
            font-size: 18px;
            top: 10px;
        }
    }
    &__description{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 18px;
    }
}