header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 5px 1px grey;
    @include flexCenter;
    position: relative;

    &__img{
        width: 50%;
        @include flexCenter;
        a{
            text-decoration: none;
            color: black;
            font-family: 'Shrikhand', sans-serif;
            font-size: 40px;
        }
    }

    &__arrow-back{
        position: absolute;
        left: 30px;
        font-size: 25px;
        font-weight: bold;
    }
}


